:root{
    --c-primary: #e41e84;
    --c-primary-hover: #830a48;

    --c-vino: #830a48;
    --c-vino--hover: #381131;

    --c-pink-10: #fff0f8;
	--c-pink-20: #ffe3f9;
	--c-pink-30: #ffc6f3;
	--c-pink-40: #ff98f8;
	--c-pink: #fd009e;
    /* --c-pink: #e41e84; */
	--c-pink-hover: #ff27c0;

    --c-red-10: #ffe0e0;
	--c-red-20: #ffc6c6;
	--c-red-30: #ff9f9f;
	--c-red-40: #ff6767;
	--c-red: #fc4646;
	--c-red-hover: #ea1818;

    --c-blue-10: #d6f1ff;
	--c-blue-20: #b5e9ff;
	--c-blue-30: #83ddff;
	--c-blue-40: #48c8ff;
	--c-blue-50: #1ea9ff;
	--c-blue-60: #068bff;

	--c-blue: #0077ff;
	--c-blue-hover: #003f9b;

    --c-green-10: #d3f8e4;
	--c-green-20: #abefce;
	--c-green-30: #75e0b3;
	--c-green-40: #3dca93;
	--c-green: #1bbc82;
	--c-green-hover: #0d8e62;

    --c-scale-10: #f3f5fa;
	--c-scale-20: #e9ecf6;
	--c-scale-30: #d7daee;
	--c-scale-40: #bec3e3;
	--c-scale-50: #a3a6d6;
	--c-scale-60: #8d8cc8;
	--c-scale-70: #7a73b8;
	--c-scale-80: #6a63a1;
	--c-scale-90: #565182;
	--c-scale-100: #484669;
	--c-scale-200: #2b293d;

    --deg-1: linear-gradient(135deg, #e41e84 0%, #764ba2 100%);
}
